{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:react-hooks/recommended"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "no-undef": "warn",
    "no-unused-expressions": [2, { "allowShortCircuit": false, "allowTernary": true }],
    "react/no-unused-prop-types": [0],
    "react/no-unused-class-component-methods": "off",
    "react/jsx-no-useless-fragment": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/no-unused-vars": [2, { "args": "none" }]
      }
    }
  ]
}
